<main>
    <div>
        <h2>Deseja deletar o livro {{book.title}} ?</h2>
        <form action="/delete/{{book.id}}/delete" method="post"><button type="submit">Sim</button></form>
        <button><a href="/">Não</a></button>
    </div>
</main>