<h2>Cadastrar livro</h2>

<form action="/register/save" method="POST">
    <div>
        <label for="title">Titulo</label>
        <input type="text" name="title" placeholder="Digite o titulo" id="title">
    </div>
    <div>
        <label for="pageqty">Numero de Pg</label>
        <input type="text" name="pageqty" placeholder="Digite o numero de pgs" id="pageqty">
    </div>

    <button type="submit">Cadastrar</button>
</form>